.metadata
bin/
build/
classes/
target/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.project
.settings/
.loadpath
.recommenders

.gradle/
.idea/
*.iml
out/

# Logs
/*/logs
*.log

pids
*.pid
*.seed
*.pid.lock
*.classpath
.springBeans
/*/target/
